<tr data-input="{{h}}">
    <td class="col-md-2">{{ a }}</td>
    <td class="col-md-2">{{ b }}</td>
    <td class="col-md-2">{{ c }}</td>
    <td class="col-md-2">{{ d }}</td>
    <td class="col-md-2">{{ e }}</td>
    <td class="col-md-2">{{ f }}</td>
    <td class="col-md-2">{{ g }}</td>
    <td class="col-md-2">
        <!-- <a class="edit" data-input = "{{h}}" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a> -->
        <a class="delete" data-input = "{{h}}" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
    </td>
</tr>